<% if(role === 'admin'){ %>
<div class="container mt-5">
   <h2 class="text-center mt-5">Gestion administration</h2>
   <div class="container mt-5 text-center">
      <img src="../../images/administration.jpg" class="rounded-circle" alt="admin">
   </div>

</div>
<% } %>
<% if(role === 'reception'){ %>
<div class="container mt-5">
   <h2 class="text-center mt-5">Gestion salle d'attente</h2>
   <div class="container mt-5 text-center">
      <img src="../../images/reception.png" class="rounded-circle" alt="reception">
   </div>
</div>
<% } %>
