<% if(role){ %>
    <% if(role === 'reception'){ %>
          <div class="container mt-5 text-center">
              <h3>Liste de patient</h3>
          </div>
          <div class="container mt-5">
            <nav class="navbar navbar-light bg-light">
              <div class="container-fluid">
                <form action="/patientList" method="GET">
                <button class="btn btn-outline-success" type="submit">All patients</button>
                </form>
                <form class="d-flex" action="/patientList" method="POST">
                  <input class="form-control me-2" name="keyword" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </nav>
          <div class="container mt-5">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Prénom</th>
                  <th scope="col">Etat</th>
                  <th scope="col">N° Order</th>
                  <th scope="col">Medcin</th>
                  <th scope="col" class="text-center">Action</th>
                </tr>
              </thead>
            
              <tbody>
           
                <tr>
                  <th scope="row">12/09/2020</th>
                  <td>test</td>
                  <td>test</td>
                  <td>en-attente</td>
                  <td>1</td>
                  <td>benterka</td>
                  <td class="d-flex justify-content-evenly">
                    <form action="/salleAtt/" method="POST"><button class="btn btn-primary"  onclick="return confirm('Are you sure you want to delete this record?')" type="submit">En-cours</button></form>
                    <form action="/salleAtt/" method="POST"><button class="btn btn-secondary"  onclick="return confirm('Are you sure you want to delete this record?')" type="submit">Examiner</button></form>
                </td>
              </tr>
              </tbody>
             <% } %>
            </table>
          </div>
          </div>        
<% }else{ %>
    <script>
        location.replace("/")
    </script>
<% } %>